* {
  box-sizing: border-box;
}
body {
  border: 0;
  margin: 10;
  touch-action: none;
}
#zxy {
  width: 512px;
  margin-top: 20px;
  text-align: center;
}
.container {
  padding: 0;
  display: inline-block;
  position: relative;
}
#map {
  width: 512px;
  height: 512px;
  background-color: #FF0000;
  display: inline-block;
  position: relative;
  /*margin: 25px;*/
}
.display-canvas {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.center {
  text-align: center;
}
#topright {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
#topleft {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.nav {
  width: 25px;
  height: 25px;
  z-index: 2;
}
#up {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
#left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}
#right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}
#down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
